@import url(../../common.css);

.swiper-slide {
    width: auto;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .swiper-container {
    position: relative;
    width: 100%;
    height: 500px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.8);
}
.swiper-slide-active,.swiper-slide-duplicate-active{
    transform: scale(1);
} */



@layer components {
    .pps-collection-title {
        @apply
            w-full max-w-[1200px] mx-auto text-center px-50 pb-60 lg:px-0 lg:pb-[70px]
            font-semibold text-black text-2xl
    }
}